.container {
  margin: 20px; /* Add spacing around the container */
}

mat-toolbar {
  margin-bottom: 20px; /* Add spacing below the toolbar */
}

mat-card {
  padding: 16px; /* Add padding inside the card */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
